.swade.sheet .bennies {
  position: relative;
  width: 72px;
}

.swade.sheet .bennies .benny-value {
  position: absolute;
  top: 5px;
  left: 30px;
  color: rgba(255, 255, 255, 0.9);
  font-weight: bold;
  z-index: 1;
  font-size: 30px;
  text-shadow: 1px 1px 5px black, -1px -1px 5px black, 1px -1px 5px black, -1px 1px 5px black;
}

.swade.sheet .bennies .benny-stack {
    position: absolute;
    bottom: 10px;
    left: 5px;
}

.swade.sheet .bennies .benny-stack :nth-child(even) {
  margin-left: 3px;
}

.swade.sheet .bennies .benny-stack :nth-child(odd) {
  margin-right: 3px;
}

.swade.sheet .bennies .benny-stack .benny-chip {
      cursor: pointer;
      background: url("/modules/swade-pulpedition/assets/benny.jpg");
      background-size: 64px 9px;
      height: 9px;
      width: 64px;
      filter: grayscale(100);
      opacity: 0.2;
}

.swade.sheet .bennies .benny-stack .benny-chip:hover {
  opacity: 0.5;
}

.swade.sheet .bennies .benny-stack .benny-chip.active {
  filter: none;
  opacity: 1;
}

.swade.sheet .bennies .benny-stack .benny-chip.active:hover {
  opacity: 0.5;
}

.swade.sheet .sheet-body .vitals {
  justify-content: space-evenly;
}

.swade.sheet .counter-container {
  margin: 4px;
  flex-grow: 0;
}

.swade.sheet .fatigue.counter-container {
  flex-basis: 130px;
}

.swade.sheet .wounds.counter-container {
  flex-basis: 200px;
}

.swade.sheet .counter-label {
  font-weight: bold;
}

.swade.sheet.character .counter {
  height: 52px;
  margin: auto 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  justify-content: center;
}

.swade.sheet .counter.incapacited {
  margin: 18px 0 0;
  font-size: 24px;
  border: none;
  flex-grow: 0;
  flex-basis: 45px;
}

.swade.sheet .fatigue .counterbar {
  background: url("/modules/swade-pulpedition/assets/fatigue.png") no-repeat;
}
.swade.sheet .wounds .counterbar {
  background: url("/modules/swade-pulpedition/assets/splatter.png") no-repeat;
}

.swade.sheet .counter .counterbar {
  line-height: 45px;
  background-size: 50px;
  background-position: center;
  filter: grayscale(1);
  cursor: pointer;
  text-align: center;
  font-weight: 600;
  text-shadow: 1px 1px 5px black, -1px -1px 5px black, 1px -1px 5px black, -1px 1px 5px black;
  font-size: 28px;
  flex-grow: 0;
  flex-basis: 60px;
  color: rgba(255, 255, 255, 0.5);
}

.swade.sheet .counter.incapacited .counterbar {
  font-size: 20px;
  background-size: 52px !important;
  background-position: center !important;
  line-height: 10px;
  background: url("/modules/swade-pulpedition/assets/inc.png") no-repeat;
}

.swade.sheet .counter .counterbar:hover {
  color: rgba(255, 255, 255, 0.8);
  filter: grayscale(0.6);
}

.swade.sheet .counter .counterbar.active {
  color: white;
  filter: none;
}

.swade.sheet .tabs {
  position: absolute;
  transform: rotate(90deg);
  top: 335px;
  right: -190px;
  width: 360px;
  z-index: -1;
}

.swade.sheet.item .tabs {
  position: absolute;
  transform: rotate(90deg);
  top: 135px;
  right: -125px;
  width: 230px;
  z-index: -1;
}

.swade.sheet.item {
  min-height: 480px;
}

.swade.sheet .tabs .item {
    padding: 2px 10px 0;
    margin-left: -5px;
    text-indent: 4px;
    border-top-right-radius: 4px;
    border-top-left-radius: 80px;
    box-shadow: 0 0 6px 1px black;
    font-size: 12px;
    border: 1px solid #2C4251;
    background: #2C4251;
    border-radius: 4px 4px 0 0;
    color: #dfe6f5;
}

.swade.sheet .tabs .item:hover, .swade.sheet .tabs .item:focus {
  background: #33658A;
  text-shadow: none;
}

.swade.sheet .tabs .item.active {
  z-index: 1;
  background: #33658A;
  margin-bottom: -1px;
  border-bottom: 0;
  text-shadow: none;
}

.swade.sheet.npc .tabs {
  width: 200px;
  right: -110px;
  top: 250px;
}